{% extends 'base.html' %}


  <header>
    {% include 'posts/includes/header.html' %}
  </header>
  <main>
  {% for post in page_obj %}
    <div class="container py-5">        
      <h1>{{post.post_list}} </h1>
      <h3>Всего постов: {{post.author.post_amount}} </h3>   
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:post' post.author.username %}">все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{post.pub_date}}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:post_detail' post.post_id %}">подробная информация </a>
      </article>       
      {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
      {% endif %}       
    {% if not forloop.last %}<hr>{% endif %} 
    </div>
  {% endfor %}

  {% include 'posts/includes/paginator.html' %}
    
  </main>

  